package usage

import (
	"github.com/99designs/goodies/http/cachecontrol"
	httpgzip "github.com/daaku/go.httpgzip"
	"net/http"
)

func main() {
	// Replace this with your preferred configuration method
	if development := true; development {
		AssetPipeline, err = sprockets.NewSprocketsServer("http://localhost:8012", "assets")
	} else {
		AssetPipeline, err = sprockets.NewSprocketsDirectory("./public", "/assets/")
	}

	// If you're handling assets in-app
	goanna.Router.Path("/favicon.ico").Handler(application.AssetPipeline)
	if application.Config.ServeStatics {
		goanna.Router.PathPrefix("/assets/").Handler(
			httpgzip.NewHandler(
				cachecontrol.CacheControl(60*60*24*365, // cache for 1 year
					http.StripPrefix("/assets",
						http.FileServer(http.Dir(application.Basedir+"/public/"))))))
	}
}
